.my-stack {
    display: block;
    z-index: 3;
    padding-bottom: 50px;



    // border-radius: 64px 64px 0px 0px;
    &__container {
        display: flex;
        flex-direction: column;
        min-width: 100%;
        min-height: 100vh;
        height: fit-content;
        background-color: #1F1F21;
        border-radius: 64px 64px 0px 0px;
        padding-bottom: 60px;
        position: relative;


        .my-stach__title {
            margin: auto;
            margin-top: 60px;
            margin-bottom: 40px;
            display: flex;
            font-size: 40px;
            line-height: 48px;
            font-weight: 600;
            font-family: "Inter-SemiBold";
            color: white;
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            min-width: 100%;
            min-height: 100%;
            // border-radius: 64px 64px 0px 0px;
            box-shadow: 0px -42px 60px rgba(0, 0, 0, 0.1), 0px -300px 250px rgba(0, 0, 0, 0.08);

        }

        .my-stack__stack-list {
            max-width: fit-content;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(5, 200px);
            overflow: hidden;

        }

        .my-stack__stack-item {
            display: block;
            padding: 50px;
            border: 1px solid #69707D;
            border-width: 0px 1px 1px 0px;
            border-style: solid;
            border-color: #69707D;
            margin: -1px;


        }

        .my-stack__stack-svg {
            display: block;
            width: 100px;
            height: 100px;
        }


    }
}



.my-stack__tech-list {
    display: flex;
    column-gap: 6px;
    row-gap: 12px;
    height: fit-content;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;


    .my-stack__tech-item {
        display: flex;
        flex-direction: column;
        padding-top: 96px;
        padding-left: 24px;
        padding-right: 42px;
        min-height: 436px;
        background-color: aliceblue;
        color: #1F1F21;
        border-radius: 16px;


        &_pink {
            background: #E8B5D4;
        }

        &_yellow {
            background: #D4E86D;
        }

        &_orange {
            background: #F5BF41;
        }

        &_white {
            background: #FEFAF7;
        }

        .my-stack__tech-item-body {
            margin-top: 16px;
            display: flex;
            flex-direction: column;
            row-gap: 12px;
            width: 234px;
        }


        .my-stack__tech-item-header {
            font-size: 24px;
            line-height: 29px;
            font-weight: 700;
            font-family: 'Inter-Bold';
        }

        .my-stack__tech-item-body {
            font-family: 'Inter-Regular';
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
        }
    }
}




@media screen and(max-width:1024px) {
    .my-stack {
        .my-stack__stack-list {
            grid-template-columns: repeat(4, 200px);
        }
    }
}

@media screen and(max-width:900px) {
    .my-stack {
        border-radius: 32px 32px 0px 0px;
        padding-bottom: 0;

        .my-stack__stack-list {
            grid-template-columns: repeat(3, 200px);
        }
    }
}

@media screen and(max-width:600px) {
    .my-stack {
        .my-stack__container {
            border-radius: 32px 32px 0px 0px;
            overflow: visible;

            .my-stack__stack-list {
                overflow: visible;
                display: flex;

                .my-stack__stack-item {
                    border-width: 0px 1px 0px 1px;
                }
            }
        }

        .my-stack__tech-item {
            width: 85%;
        }
    }
}


@media screen and(max-width:412px) {}