.about {
    min-height: 100vh;
    height: fit-content;

    background-color: white;
    z-index: 4;
    background-color: rgb(124, 42, 200);
    border: 11px black solid;
    // position: sticky;
    // top: 0;
}