.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: white;
    z-index: 9999;

    &_black {
        background-color: #1F1F21;
    }

    &_hidden {
        display: none;
    }

    svg.tea {
        --secondary: #595BA7; //transform: scale(2)
        width: 37px;
        height: 48px;
        display: block;
        margin: auto;
    }


    #teabag {
        transform-origin: top center;
        transform: rotate(3deg);
        animation: swing 2s infinite;
    }


    #steamL {
        stroke-dasharray: 13;
        stroke-dashoffset: 13;
        animation: steamLarge 2s infinite;
    }


    #steamR {
        stroke-dasharray: 9;
        stroke-dashoffset: 9;
        animation: steamSmall 2s infinite;
    }


}

@keyframes swing {
    50% {
        transform: rotate(-3deg)
    }

}


@keyframes steamLarge {

    0% {
        stroke-dashoffset: 13;
        opacity: .6
    }

    100% {
        stroke-dashoffset: 39;
        opacity: 0
    }
}

@keyframes steamSmall {

    10% {
        stroke-dashoffset: 9;
        opacity: .6
    }

    80% {
        stroke-dashoffset: 27;
        opacity: 0
    }

    100% {
        stroke-dashoffset: 27;
        opacity: 0
    }

}