.header {
    min-height: fit-content;
    max-width: 1440px;
    margin: 0 auto;
    padding: 16px 60px 0 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    &__logo {
        font-family: 'Inter-SemiBold';
        user-select: none;
        pointer-events: none;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        margin-right: auto;
    }


    &__container {
        align-items: center;
        color: inherit;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        justify-content: space-between;
    }

    &__menu {
        justify-self: center;


        &-items {
            display: flex;
            list-style: none;
            background: #FFFFFF;
            border: 0.5px solid #D3DAE6;
            box-shadow: 0px 0.9px 4px -1px rgba(0, 0, 0, 0.08), 0px 2.6px 8px -1px rgba(0, 0, 0, 0.06), 0px 5.7px 12px -1px rgba(0, 0, 0, 0.05), 0px 15px 15px -1px rgba(0, 0, 0, 0.04);
            border-radius: 32px;
            user-select: none;
            cursor: none;
            overflow: hidden;
            min-width: fit-content;

        }


        &-item {
            z-index: 3;
            min-width: fit-content;
        }

        &-link {
            display: block;
            padding: 14px 20px;
            text-decoration: none;
            font-family: 'Inter-Medium';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            font-display: none;

            &_hover {
                color: white;
            }
        }
    }


    &__theme-button {
        background-color: inherit;
        border: none;
        cursor: pointer;
        margin-left: auto;

        &:hover {
            transform: scale(1.1);
        }
    }



    &__interactive-elements {
        position: fixed;
        top: 16px;
        pointer-events: none;
        visibility: hidden;

        * {
            visibility: visible;
        }

        .header__hover-item {
            border-radius: 20px;
            position: fixed;
            top: 0;
            left: 50vw;
            opacity: 1;
            background: #1F1F21;
            border-radius: 24px;
            z-index: 2;
            visibility: hidden;

            &_active {
                visibility: visible;
            }
        }

        .header__active-section-item {
            position: fixed;
            top: 0;
            left: 50vw;
            opacity: 1;
            background: #FFFFFF;
            border: 1px solid #D3DAE6;
            border-radius: 24px;
            z-index: 1;

        }
    }
}



@media screen and(max-width:900px) {
    .header {
        padding: 8px 16px;

        &__logo {
            font-size: 20px;
            line-height: 24px;
            white-space: nowrap;
        }
    }

}

@media screen and(max-width:400px) {
    .header {
        .header__theme-button-svg-bg {
            width: 26px;
            height: 26px;
        }
    }
}