.greeting {
    min-height: 100vh;
    height: fit-content;
    display: flex;
    position: relative;
    background-color: inherit;
    color: inherit;
    z-index: 2;
    width: 100%;
    margin-bottom: 300px;

    &__ST {
        all: inherit;
    }



    &__container {
        padding: 16px;
        display: flex;
        flex-direction: column;
        margin: auto;
        align-self: center;
        justify-self: center;
        font-family: 'BellotaText-Bold';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 60px;

        .greeting__text {
            display: block;
            max-width: 880px;
        }
    }

    &__cat-svg {
        position: absolute;
        right: 0;
        bottom: 10vh;
        transform: rotate(-90deg);
        overflow: visible;
    }

}


@media screen and(max-width:900px) {
    .greeting {
        height: fit-content;
        margin: 0;

        &__container {
            display: flex;
            justify-content: space-between;
            padding-top: 62px;

            // padding-bottom: 48px;
            padding-left: 116px;
            padding-right: 116px;

            .greeting__text {
                display: block;
                font-size: 40px;
                line-height: 40px;
            }
        }

        &__cat-svg {
            position: relative;
            margin: 0;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            transform: rotate(0deg);
            margin-top: 80px;
        }
    }
}


@media screen and(max-width:600px) {
    .greeting {


        &__container {
            padding-left: 16px;
            padding-right: 16px;

            .greeting__text {
                font-size: 32px;
                line-height: 40px;
            }
        }

        &__cat-svg {}
    }
}