.greeting {
    min-height: 100vh;
    height: fit-content;
    display: flex;
    position: relative;
    background-color: inherit;
    color: inherit;
    z-index: 1;

    &__container {
        max-width: calc(880px - 32px);
        padding: 16px;
        display: flex;
        margin: auto;
        align-self: center;
        justify-self: center;
    }

    &__cat-svg {
        position: absolute;
        right: 0;
        bottom: 10vh;
        transform: rotate(-90deg);
   
        overflow: visible;

    }

    

}