.works {
    min-height: 100vh;
    height: fit-content;
    z-index: 4;
    background-color: inherit;
    color: inherit;
    position: relative;
    border-radius: 64px 64px 0px 0px;
    padding: 40px 16px;
    display: flex;
    flex-direction: column;

    &__title {
        display: block;
        padding-bottom: 40px;
        text-align: center;
    }

    &__container {
        margin: auto;

        .works__list {
            display: grid;
            list-style: none;
            grid-template-columns: repeat(2, 407px);
            gap: 32px;

        }
    }


}