.works {
    min-height: 100vh;
    height: fit-content;
    z-index: 4;
    background-color: inherit;
    color: inherit;
    position: relative;
    border-radius: 64px 64px 0px 0px;
    padding: 40px 16px;
    display: flex;
    flex-direction: column;

    // animation: infinitiTransform 99999s infinite forwards;


    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 64px 64px 0px 0px;
        box-shadow: 0px -42px 60px rgba(0, 0, 0, 0.1), 0px -300px 250px rgba(0, 0, 0, 0.08);
    }


    &__title {
        display: block;
        padding-bottom: 40px;
        text-align: center;
        font-size: 40px;
        line-height: 48px;
        font-family: 'Inter-SemiBold';
    }

    &__container {
        margin: auto;

        .works__list {
            display: grid;
            list-style: none;
            grid-template-columns: repeat(2, 407px);
            gap: 32px;
        }
    }
}


@media screen and(min-width:1400px) {
    .works {


        &__container {


            .works__list {
                grid-template-columns: repeat(3, 387px);
                gap: 16px;
            }
        }
    }
}


@media screen and(max-width:900px) {
    .works {
        padding: 40px 6px;

        &__container {
            max-width: 100%;

            .works__list {
                grid-template-columns: repeat(1, 407px);
                max-width: 100%;
            }
        }
    }
}

@media screen and(max-width:600px) {
    .works {
        border-radius: 32px 32px 0px 0px;

        .works__title {
            font-size: 32px;
            line-height: 39px;
        }

        &__container {
            .works__list {
                grid-template-columns: repeat(1, 338px);
            }
        }

        .works__item_soon {


            .works__item-comming-soon {
                font-size: 18px;
                line-height: 22px;
            }
        }

    }
}

@media screen and(max-width:412px) {
    .works {
        .works__title {
            padding-bottom: 32px;
            font-size: 32px;
            line-height: 39px;
        }

        &__container {
            max-width: 100%;

            .works__list {
                grid-template-columns: repeat(1, 95vw);
                max-width: 100%;
            }
        }

    }


}

@keyframes infinitiTransform {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(1px);
    }

    100% {
        transform: translateY(-1px);
    }
}