.footer {
    min-height: fit-content;
    padding: 72px 32px;
    z-index: 4;
    background-color: bisque;

    &__container {
        background-color: gainsboro;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 103px;
        padding-bottom: 83px;
        border-radius: 56px;
    }

    &__contacts {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}