@import './vendor/normalize.css';
@import './fonts.css';


.page {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  display: block;
  background-color: white;
  color: black;
  cursor: url('./images/arrow2662\ \(1\).png') 4 1, default;
}

#root {
  min-height: 100vh;
  display: block;
  background-color: white;
  color: black;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

