.works__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.works__item {
  max-height: 270px;
  min-width: 100%;
  border-radius: 24px;
  border: 1px solid #D3DAE6;
  overflow: hidden;
  position: relative;
  display: block;
  cursor: url('../../images/arrow2662.png') 4 1, pointer;
  font-size: 0;
  width: 100%;
  border-collapse: collapse;
}

.works__item:hover {
  transform: translate(0);
}

.works__item_soon {
  z-index: -1;
  border-radius: inherit;
  width: 100%;
  height: 270px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  row-gap: 31px;
  padding-bottom: 42px;
  border-radius: 32px;
}

.works__item-comming-soon {
  font-size: 24px;
  line-height: 29px;
  font-family: "Inter-Medium";
}

.works__item-container {
  font-size: 0;
  border-radius: 24px;
  z-index: 1;
  overflow: hidden;
}

.works__image-container {
  width: 100%;
  border-radius: 24px;
  display: block;
  z-index: -2;
}

.works__screen {
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
  -o-object-position: center;
  object-position: center;
  transition: transform 3s ease-in-out;
  border-radius: 24px;
  z-index: -2;
}

.works__screen_hover {
  z-index: -2;
  border-radius: 24px;
  transform: translateY(calc(-100% + 270px));
  overflow: hidden;
}

.works svg {
  overflow: visible;
}

.works svg .tail {
  overflow: visible;
}

.tech {
  padding: 24px;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 24px;
}

.tech__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s linear;
}

.tech__container_focus {
  opacity: 1;
  visibility: visible;
  width: 100%;
  height: 100%;
  font-size: 12px;
  line-height: 15px;
  color: #1F1F21;
  font-family: "Inter-Medium";
}

.tech__container_focus::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  mix-blend-mode: darken;
  opacity: 0.4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
}

.tech__elements {
  display: flex;
  -moz-column-gap: 4px;
  column-gap: 4px;
}

.tech__element {
  padding: 8px 16px;
  background: #F5F7FA;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-radius: 32px;
  font-size: 12px;
  line-height: 15px;
  z-index: 2;
  font-size: 12px;
  line-height: 15px;
  font-family: "Inter-Medium";
}

.tech__project-name {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.tech__project-link {
  align-self: flex-end;
  mix-blend-mode: difference;
  z-index: 3;
}

@media screen and (max-width: 600px) {
  .tech .tech__container {
    max-width: 264px;
  }

  .tech__project-link {
    max-width: 100%;
    align-self: flex-end;
  }

  .tech__elements {
    flex-wrap: wrap;
    row-gap: 8px;
  }
}

@media screen and (max-width: 412px) {
  .tech {
    padding: 24px;
  }

  .tech .tech__container {
    max-width: 264px;
  }

  .tech__project-link {
    max-width: 100%;
    align-self: flex-end;
  }

  .tech .tech__element {
    font-size: 12px;
    line-height: 15px;
  }
}

@-webkit-keyframes tailAnim {
  60% {
    d: path("M42.3535 81.499C42.0432 74.5876 47.5683 67.2723 50.3697 64.4785L57.2884 57.522L83.2499 62.7394L84.1153 70.5655V94.1354C83.2102 94.6511 74.4353 94.5593 70.2691 96.6524C66.8076 98.3915 57.3084 96.7142 53.0849 96.1985C48.6027 98.7773 39.4999 104 36.5191 105.783C33.0684 107.847 31.2359 108.528 28.9999 113C27.5 116 25.5 124.5 22.4999 124.5C15.3689 124.5 19.9999 118.614 19.9999 116C19.9999 112 23.8445 105.959 29.6827 101.872C34.4999 98.5 40.8615 93.2882 44.7403 91.8698C43.8352 91.311 42.6638 88.4103 42.3535 81.499Z");
  }

  80% {
    d: path("M42.3536 81.499C42.0432 74.5876 47.5684 67.2723 50.3697 64.4785L57.2884 57.522L83.25 62.7394L84.1153 70.5655V94.1354C83.2103 94.6511 74.4353 94.5593 70.2692 96.6524C66.8077 98.3915 57.3085 96.7142 53.0849 96.1985C48.6028 98.7773 39.5 104 36.5192 105.783C33.0685 107.847 29.6828 111 25.5 116C22.5 119.586 20 123.5 17 122.5C10.235 120.245 15.0659 114.758 17.0001 113C22.5001 108 23.8446 105.959 29.6828 101.872C34.5 98.5 40.8616 93.2882 44.7404 91.8698C43.8353 91.311 42.6639 88.4103 42.3536 81.499Z");
  }

  100% {
    d: path("M42.3536 81.499C42.0433 74.5876 47.5684 67.2723 50.3698 64.4785L57.2885 57.522L83.25 62.7394L84.1154 70.5655V94.1354C83.2103 94.6511 74.4354 94.5593 70.2692 96.6524C66.8077 98.3915 57.3086 96.7142 53.085 96.1985C48.6028 98.7773 39.5 104 36.5192 105.783C33.0685 107.847 29.6829 111 25.5 116C22.5 119.586 10.0001 119 10 116C9.99991 111.257 14.3861 112 17 112C23.5 112 23.8446 105.959 29.6829 101.872C34.5 98.5 40.8616 93.2882 44.7404 91.8698C43.8353 91.311 42.6639 88.4103 42.3536 81.499Z");
  }
}

@keyframes tailAnim {
  60% {
    d: path("M42.3535 81.499C42.0432 74.5876 47.5683 67.2723 50.3697 64.4785L57.2884 57.522L83.2499 62.7394L84.1153 70.5655V94.1354C83.2102 94.6511 74.4353 94.5593 70.2691 96.6524C66.8076 98.3915 57.3084 96.7142 53.0849 96.1985C48.6027 98.7773 39.4999 104 36.5191 105.783C33.0684 107.847 31.2359 108.528 28.9999 113C27.5 116 25.5 124.5 22.4999 124.5C15.3689 124.5 19.9999 118.614 19.9999 116C19.9999 112 23.8445 105.959 29.6827 101.872C34.4999 98.5 40.8615 93.2882 44.7403 91.8698C43.8352 91.311 42.6638 88.4103 42.3535 81.499Z");
  }

  80% {
    d: path("M42.3536 81.499C42.0432 74.5876 47.5684 67.2723 50.3697 64.4785L57.2884 57.522L83.25 62.7394L84.1153 70.5655V94.1354C83.2103 94.6511 74.4353 94.5593 70.2692 96.6524C66.8077 98.3915 57.3085 96.7142 53.0849 96.1985C48.6028 98.7773 39.5 104 36.5192 105.783C33.0685 107.847 29.6828 111 25.5 116C22.5 119.586 20 123.5 17 122.5C10.235 120.245 15.0659 114.758 17.0001 113C22.5001 108 23.8446 105.959 29.6828 101.872C34.5 98.5 40.8616 93.2882 44.7404 91.8698C43.8353 91.311 42.6639 88.4103 42.3536 81.499Z");
  }

  100% {
    d: path("M42.3536 81.499C42.0433 74.5876 47.5684 67.2723 50.3698 64.4785L57.2885 57.522L83.25 62.7394L84.1154 70.5655V94.1354C83.2103 94.6511 74.4354 94.5593 70.2692 96.6524C66.8077 98.3915 57.3086 96.7142 53.085 96.1985C48.6028 98.7773 39.5 104 36.5192 105.783C33.0685 107.847 29.6829 111 25.5 116C22.5 119.586 10.0001 119 10 116C9.99991 111.257 14.3861 112 17 112C23.5 112 23.8446 105.959 29.6829 101.872C34.5 98.5 40.8616 93.2882 44.7404 91.8698C43.8353 91.311 42.6639 88.4103 42.3536 81.499Z");
  }
}

/*# sourceMappingURL=workElement.css.map */